* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 30px;
    margin: 20px;
    background-color: rgba(3, 31, 31, 0.692);
    padding: 20px
  }
  
  h1{
      text-align: center;
      font-size: 70px;
  }
  .memory-game {
    width: 800px;
    height: 540px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    padding: 20px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }
  
  #games {
      background-color: rgba(22, 161, 161, 0.781);
      padding: 20px;
      justify-content: center;
      display: block;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
  }

div#memory_board{
    background-image: url(image/all.gif);
    background-position: center;
    padding: 30px;
    width: auto;
    height: auto;
    justify-content: center;
    
}